<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped" >
    <caption>Questions for this Quiz session</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Question ID</th>
          <th scope="col">Question Context</th>
          <th scope="col">Question Text</th>
          <th scope="col">Question Answer(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions">
          <td>{{ question.qId }}</td>
          <td>{{ question.qContext }}</td>
          <td>{{ question.qText }}</td>
          <td>{{ question.qAnswers }}</td>
          <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
